<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../home/home.css">
</head>

<body>
  <div class="wrap">
      <div class="banner home">
        <div id="photo" style="height: 155.306666666667px;">
           <ul id="pic-view" class="pic-view" style="width: 364px;"><li style="-webkit-transform: translate3d(-364px, 0px, 0px); -webkit-transition: none; transition: none;">
                                      <a href="#/design/index">
                                         <img src="../common/img/banner3.jpg" style="width: 364px;">
                    </a>
                </li>
                             <li style="width: 364px; -webkit-transform: translate3d(0px, 0px, 0px); -webkit-transition: none; transition: none;">
                                      <a>
                                       <img src="../common/img/banner1.jpg" style="width: 364px;">
                    </a>
                </li>
                             <li style="width: 364px; -webkit-transform: translate3d(364px, 0px, 0px); -webkit-transition: none; transition: none;">
                                      <a href="#/design/index">
                                         <img src="../common/img/banner2.jpg" style="width: 364px;">
                    </a>
                </li>
                             <li style="width: 364px; -webkit-transform: translate3d(364px, 0px, 0px); -webkit-transition: none; transition: none;">
                                      <a href="#/design/index">
                                         <img src="../common/img/banner3.jpg" style="width: 364px;">
                    </a>
                </li>
                        <li style="-webkit-transform: translate3d(364px, 0px, 0px); -webkit-transition: none; transition: none;">
                                      <a>
                                       <img src="../common/img/banner1.jpg" style="width: 364px;">
                    </a>
                </li></ul>
         <div class="pagination"><span class="active"></span><span class=""></span><span class=""></span></div></div>
        <div class="banner-title">
          <h5>欢迎来带北京协和医院</h5>
        </div>
     </div>

     <div class="container">
       <div class="box">
         <ul class="box-con">

          <li data-link="#/doctor/" departid="ddj">
            <a href="http://yi.baidu.com">
            <dd><img src="../common/img/icon/icon-order.png"></dd>
            <h5>预约挂号</h5>
            </a>
          </li>

          <li data-link="#/doctor/" departid="ddj">
            <a href="../../mock/introduce.php">
              <dd>
                 <img src="../common/img/icon/icon-hospital.png">
              </dd>
              <h5>医院简介</h5>
            </a>
          </li>

          <li data-link="#/doctor/" departid="ddj">
            <a href="../../mock/category.php">
              <dd><img src="../common/img/icon/icon-depart.png"></dd>
              <h5>科室简介</h5>
            </a>
          </li>

          <li data-link="#/doctor/" departid="ddj">
           <a href="../../mock/category.php">
              <dd><img src="../common/img/icon/icon-expert.png"></dd>
              <h5>专家简介</h5>
           </a>
          </li>

          <li data-link="#/doctor/" departid="ddj">
            <a href="#">
              <dd><img src="../common/img/icon/icon-admin.png"></dd>
              <h5>就诊人管理</h5>
            </a>
          </li>

          <li data-link="#/doctor/" departid="ddj">
            <a href="#">
            <dd> <img src="../common/img/icon/icon-guide.png"></dd>
            <h5>就医指南</h5>
            </a>
          </li>

          <li data-link="#/doctor/" departid="ddj">
            <a href="#">
            <dd><img src="../common/img/icon/icon-map.png"></dd>
            <h5>来院导航</h5>
            </a>
          </li>

          <li data-link="#/doctor/" departid="ddj">
           <a href="#">
            <dd><img src="../common/img/icon/icon-pay.png"></dd>
            <h5>在线支付</h5>
           </a>
          </li>

          <li class="" data-link="#/doctor/" departid="ddj">
            <a href="#">
            <dd><img src="../common/img/icon/icon-waitin.png"></dd>
            <h5>排队候诊</h5>
            </a>
          </li>

        </ul>
       </div>

     </div>

     <div class="home-index clear" style="width:100%; height:400px; border:1px solid #f00">linkxiaoxiao</div>

      <footer class="">
          <p class="outlink">如需更多预约挂号服务，请到<a href="http://yi.baidu.com">百度医生&gt;&gt;</a></p>
      </footer>
  </div>
</body>
</html>
